@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(./index.css);
@import url(./sign-reg-form.css);
@import url(./form-selector.css);


body {
  /* width: 100%;
  height: 100%;  */
  @apply
  bg-smokeWhite
  ;
}


input {
  background-color: transparent;

  @apply
  text-smokeWhite
  text-xl
  ;
}

input:focus {
  outline: none;
}



.font-primary {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}