@tailwind base;
@tailwind components;
@tailwind utilities;






.sr-form-main-body {
    @apply
    w-[450px] h-[700px]
    /* bg-lapisLazuli */
    rounded-lg
    grid place-items-center
    relative

    sm:w-full
    sm:h-full

    md:w-[450px]
    md:h-[700px]

    lg:w-[450px]
    lg:h-[700px]

    xl:w-[450px]
    xl:h-[700px]
    ;

}


